/*.bin
/*.gz
/*.m4
/*.pc
/INSTALL
/Makefile
/Makefile.in
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/*.mode
/.deps
/config.in
/config
/*.prob
/*.hfst
/*.zhfst
/.DS_Store
/test/*-output.txt
/fra-oci.t1x
/fra-oci.t2x
/fra-oci.t2x_bis
/oci-fra.t1x
/oci-fra.t2cx
/oci-fra.t2ax
/oci-fra.t2ax2
/oci-fra.t2bx
/oci-fra.t4x
